@charset "utf-8";
/* CSS Document */
/*预设*/
html, body {
	text-align: left;
	margin: 0;
	padding: 0;
	font-size: 14px;
	color: #333;
	width: 100%;
	height: 100%;
	font-family: "Microsoft YaHei", 微软雅黑, Lucida Grade;
}
div, dl, dt, dd,
h1, h2, h3, h4, h5, h6,
ol, ul, li, p, pre, span, td, th,
article, aside, canvas, details, figcaption, figure, header,
footer,hgroup, menu, nav, section, summary, audio, video {
	margin: 0;
	padding: 0;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: #333;
}
a:hover {
	text-decoration: none;
}
/*选中色*/
::selection {
	color: #FF6178;
	background: #FFE1EC;;
}
::-moz-selection {
	color: #FF6178;
	background: #FFE1EC;;
}

/*清除浮动*/
.clearfix { zoom: 1; }
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
	overflow: hidden;
}
.clearfix:after { clear: both; }
/*背景图片*/
#siteWrap {
	display: block;
	position: relative;
	overflow: hidden;
	width: 100%;
	min-height: 100%;
}
#bg {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	z-index: -1;
	top: 0;
}
#bgg {
	display: none;
	z-index: -1;
}
	.mc-hide-scrolls{ overflow: hidden; }
	.mc-cycle {
		height: 100%;
		left: 0;
		overflow: hidden;
		position: fixed;
		top: 0;
		width: 100%;
	}
	.mc-image {
		background-size: cover;
		-moz-background-size: cover;
		background-attachment: fixed;
		background-position :center center;
		background-repeat: no-repeat;
		height: 100%;
		width: 100%;
	}
#siteHeader {
	display: block;
	min-height: 120px;
}
#globalNavWrap {
	position: absolute;
	top: 20px;
	right: 0;
}
#globalNav {
	margin: 10px 25px;
	float: right;
}
	#globalNav li {
		float: left;
		padding: 5px 0;
		opacity: 0;
	}
	#globalNav .nav-last a { border-right: none; }
	#globalNav a {
		display: block;
		padding: 0 10px;
		border-right: 1px #CCC solid;
	}
	#globalNav a:hover span {
		border-bottom: 3px #CCC solid;
	}
	#globalNav li a span{
		color: #FFF;
		font-size: 14px;
	}
#siteContent {
	position: fixed;
	width: 100%;
	bottom: 10px;
	display: block;
	min-width: 1024px;
}
.leftPart {
	width: 250px;
	left: 0;
	padding: 10px 0 10px 10px;
	border-radius: 0 10px 10px 0;
	background: rgba(255, 255, 255, 0.8);
}
.rightPart {
	width: 250px;
	right: 0;
	padding: 10px 0 10px 10px;
	border-radius: 10px 0 0 10px;
	background: rgba(255, 255, 255, 0.8);
}
#videoBox {
	position: absolute;
	height: 180px;
	bottom: 0;
}
	#videoBox p {
		text-align: center;
	}
#PVBox a:hover {
	opacity: 0.6;
}
#topInfo {
	position: absolute;
	height: 180px;
	bottom: 0;
}
	#topInfo dl {
		padding-left: 10px;
		overflow: auto;
	}
	#topInfo dt {
		padding-top: 5px;
	}
	#topInfo dd {
		padding: 0 5px;
	}
	#topInfo a {
		
	}
	#topInfo a:hover {
		background: #80DDEE;
	}
	#topInfo span {
		color: #69F;
	}
#siteFoot {
	position: absolute;
	width: 100%;
	height: 145px;
	bottom: 0;
	display: block;
}
#footLink {
	position: absolute;
	height: 85px;
	bottom: 40px;
}
	#footLink a:hover {
		opacity: 0.6;
	}
#pageTopWrap {
	position: absolute;
	height: 35px;
	bottom: 40px;
}

#mainContent {
	position: relative;
	background: rgba(255,255,255,0.8);
	width: 980px;
	min-height: 720px;
	margin: 0 auto 145px;
	display: block;
}
#mainContent h1 {
	text-align: right;
	padding-right: 20px;
	font-size: 32px;
}
#chapterSelect {
	width: 740px;
	margin: 0 auto;
}
	#chapterSelect ul {
		border-bottom: 2px #333 solid;
	}
	#chapterSelect li {
		float: left;
		padding: 0 15px;
		font-size: 24px;
	}
	#chapterSelect a:hover, #chapterSelect ul > li > .current {
		color: #69F;
	}
.chapterInfo {
	width: 980px;
	height: 640px;
	display: none;
}
	.chapterInfo h2 {
		text-align: center;
		margin-top: 15px;
		font-size: 16px;
	}
	.chapterInfo h3 {
		text-align: center;
		margin: 5px 0 10px;
		font-size: 14px;
	}
	.chapterInfo ul {
		text-align: center;
		margin: auto;
	}
	.chapterInfo li {
		padding: 5px 0;
	}
	
#mainSum {
	padding: 10px 50px 30px;
}
	#mainSum h2 {
		padding: 10px 0;
	}
	#mainSum h3 {
		padding: 5px 10px;
	}
	#mainSum li {
		padding: 5px 20px;
	}
#mainVersion {
	padding-bottom: 40px;
}
#versionSelect {
	float: left;
	width: 180px;
	padding: 10px 10px;
}
	#versionSelect li {
		font-size: 16px;
		text-align: center;
		padding:0 0 5px 10px;
	}
	#versionSelect a:hover{
		background: #80DDEE;
	}
	#versionSelect li .current {
		color: #69F;
	}
#versionInfo {
	float: left;
	width: 760px;
	padding: 10px 10px;
}
.versionDetail {
	padding: 10px 0;
	border-bottom: 1px #69F dashed;
}
	.versionDetail aside {
		text-align: right;
		padding: 0 10px;
	}
	.versionDetail ul {
		padding: 0 15px;
	}
#groupSelect {
	position: relative;
	margin: 10px 10px;
}
#selectTip {
	float: left;
	width: 180px;
	text-align: center;
	color: #69F;
	border-right: 1px #333 solid;
}
#selectMap {
	float: left;
	margin: 0 20px;
}
.groupMap {
	display: block;
	padding: 10px 0;
	text-align: center;
	font-size: 32px;
}
	.groupMap a {
		float: left;
		width: 160px;
		height: 160px;
		color: #FFF;
		background: rgba(0, 0, 0, 0.6);
		margin: 0 10px;
	}
	.groupMap a:hover {
		color: #69F;
		background: rgba(255, 255, 255, 0.8);
	}
.groupInfo {
	position: relative;
	margin: 10px 10px;
	display: none;
}
#charaSelect {
	float: left;
}

#returnBox {
	padding: 10px 0;
	margin: 0 10px;
	text-align: center;
	font-size: 32px;
	border-bottom: 1px #69F solid;
}
	#returnBox a {
		display: block;
		width: 160px;
		height: 160px;
		color: #FFF;
		background: rgba(0, 0, 0, 0.6);
	}
	#returnBox a:hover {
		color: #69F;
		background: rgba(255, 255, 255, 0.8);
	}
#charaList {
	margin: 0 10px;
	padding: 10px 0;
}
	#charaList a {
		display: block;
		padding-bottom: 5px;
	}
	#charaList a:hover {
		color: #69F;
	}
.charaInfo {
	float: left;
	width: 760px;
	height: 580px;
	padding: 5px 10px;
	display: none;
}
	.charaInfo img {
		float: left;
		margin: 10px 0;
	}
	.charaInfo ul {
		float: left;
		width: 500px;
		margin: 10px 10px;
	}
	.charaInfo li {
		padding: 5px 0;
	}
.endingBox {
	float: left;
	height: 180px;
	width: 180px;
	border: 1px #69F dashed;
	margin: 5px;
}
#tipSelect {
	
}
#tipSelect li {
	float: left;
	border: 1px #69F dashed;
	margin: 5px;
}
#jutouBox {
	display: none;
}